ANTHROPIC_API_KEY=
RESEND_API_KEY=
VAPI_PRIVATE_KEY=
VAPI_PHONE_NUMBER_ID=
VAPI_ASSISTANT_ID=
PORT=4000
SERVER_URL=https://kyron-medical-project.abdullahbasarvi.com
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=